@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=cyrillic,latin");
@import url("http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

.topline .topline__in, .nav .nav__in, .promo .promo__in, .rates .rates__in, .action .action__in, .guarantees .guarantees__in, .work .work__in, .documentation .documentation__item_wrap, .partners .partners__in { width: 960px; margin: 0 auto; }

.button, .rates .rates__header { text-transform: uppercase; }

.out { width: 100%; }
.out .icon-logo { background: url('../img/icons-seed526e5db.png') 0 -30px no-repeat; width: 169px; height: 47px; display: inline-block; }
.out .icon-mail { background: url('../img/icons-seed526e5db.png') 0 -87px no-repeat; width: 25px; height: 17px; display: inline-block; }
.out .icon-phone { background: url('../img/icons-seed526e5db.png') 0 -114px no-repeat; width: 17px; height: 24px; display: inline-block; }

.button { height: 40px; border: 1px solid #655638; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; -moz-box-shadow: 1px 2px 3px 0 #45403c, 1px 1px 3px white inset, -1px -1px 3px 0 #8f7b40 inset; -webkit-box-shadow: 1px 2px 3px 0 #45403c, 1px 1px 3px white inset, -1px -1px 3px 0 #8f7b40 inset; box-shadow: 1px 2px 3px 0 #45403c, 1px 1px 3px white inset, -1px -1px 3px 0 #8f7b40 inset; background-image: -moz-linear-gradient(left, #e4d28f, #debb61); background-image: -webkit-linear-gradient(left, #e4d28f, #debb61); background-image: linear-gradient(to right, #e4d28f, #debb61); padding: 0 6px; color: #3d3837; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 15px; }

.topline .topline__in { *zoom: 1; height: 67px; }
.topline .topline__in:after { content: " "; display: table; clear: both; }
.topline .topline__logo { float: left; display: inline-block; margin-top: 11px; }
.topline .topline__contacts { float: right; margin-top: 30px; }
.topline .topline__mail, .topline .topline__phone { display: inline-block; color: #825b23; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 15px; }
.topline .topline__mail i, .topline .topline__phone i { vertical-align: middle; }
.topline .topline__mail { margin-right: 25px; }
.topline .topline__mail i { position: relative; right: 10px; }

.nav { background-color: #6e582c; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF6E582C', endColorstr='#FF6E582C'); background-image: -moz-linear-gradient(left, #6e582c 45%, #866728 59%, #6e582c 73%); background-image: -webkit-linear-gradient(left, #6e582c 45%, #866728 59%, #6e582c 73%); background-image: linear-gradient(to right, #6e582c 45%, #866728 59%, #6e582c 73%); -moz-box-shadow: 0 -1px 1px #5b4925; -webkit-box-shadow: 0 -1px 1px #5b4925; box-shadow: 0 -1px 1px #5b4925; }
.nav .nav__list { text-align: center; padding: 8px 0; }
.nav .nav__list li { display: inline-block; font-size: 0; }
.nav .nav__list li a { color: white; vertical-align: middle; position: relative; font-family: "PT Sans", Arial, sans-serif; font-size: 16px; text-decoration: none; padding: 0px 20px; }
.nav .nav__list li a:after { content: "|"; position: absolute; display: inline-block; top: -6px; right: 0; font-size: 21px; }
.nav .nav__list li a:hover { text-decoration: underline; }
.nav .nav__list li:last-child a:after { display: none; }

.form { text-align: center; }
.form .form__inputs { width: 100%; text-align: center; }
.form .form__inputs_in { padding-top: 16px; }
.form .form__inputs input { -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; font-size: 18px; text-indent: 10px; padding: 5px 0; width: 90%; font-family: "PT Sans", Arial, sans-serif; -moz-box-shadow: 1px 1px 1px 0 #8c8c8c inset; -webkit-box-shadow: 1px 1px 1px 0 #8c8c8c inset; box-shadow: 1px 1px 1px 0 #8c8c8c inset; margin-bottom: 10px; }
.form .form__inputs_regular { background: url("../img/form__inputs.png") no-repeat 0 0; width: 427px; height: 135px; }
.form .form__inputs_dbrown { background: url("../img/action_tooltip.png") no-repeat 0 0; width: 423px; height: 164px; }
.form .form__inputs_dbrown .form__inputs_in { padding-top: 26px; }
.form .form__inputs_dbrown input { margin-bottom: 15px; }
.form .button { margin-top: 10px; letter-spacing: 1px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.promo { background-image: url("../img/promo_bg.png"); height: 540px; position: relative; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; background-position: top center; }
.promo .promo__header { padding-top: 30px; color: white; display: inline-block; letter-spacing: 2px; font-family: "PT Sans", Arial, sans-serif; }
.promo .promo__header .promo__header_big { font-size: 30px; font-weight: 100; }
.promo .promo__header .promo__header_small { font-size: 22px; font-weight: 700; }
.promo .promo__info { margin-top: 27px; width: 425px; }
.promo .promo__info .promo__info-text { text-align: center; font-size: 20px; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; color: white; }
.promo .promo__info .promo__info-text .promo__info-text_action { background-color: #fe031b; padding: 0 3px; margin-right: 3px; }
.promo .promo__info .promo__info-form { width: 100%; }
.promo .promo__info .promo__info-form p { text-align: center; }
.promo .promo__info .promo__info-form .time_to { font-family: "PT Sans", Arial, sans-serif; font-style: italic; color: #dedcda; font-size: 14px; margin-bottom: 10px; }
.promo .promo__info .form__timer { text-align: center; }
.promo .promo__info .form__footer { margin-top: 15px; font-family: "PT Sans", Arial, sans-serif; color: white; font-size: 13px; }
.promo .promo__we { position: absolute; right: 170px; top: 0; }
.promo .promo__we .promo__we-man { background: url("../img/promo__man.png") no-repeat 0 0; width: 318px; height: 524px; position: relative; top: 10px; display: inline-block; }
.promo .promo__we .promo__we-embl { background: url("../img/promo__emb.png") no-repeat 0 0; width: 161px; height: 196px; display: inline-block; vertical-align: top; position: relative; top: 48px; right: 43px; }

.rates { background-image: url(../img/rates_bg.png); height: 660px; }
.rates .rates__header { color: #282620; text-align: center; position: relative; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 21px; padding: 40px 0; }
.rates .rates__header:before, .rates .rates__header:after { content: ""; width: 292px; height: 2px; background-color: #282620; display: inline-block; position: absolute; top: 50%; -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
.rates .rates__header:before { left: 0; }
.rates .rates__header:after { right: 0; }
.rates .rates__body { font-size: 0; margin: 0 -8px; }
.rates .price { display: inline-block; padding: 0 7px; }
.rates .price_item { width: 230px; height: 510px; vertical-align: top; text-align: center; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; background-color: rgba(255, 255, 255, 0.7); -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); }
.rates .price_item .price__item_in { padding: 8px; position: relative; height: 100%; display: table; }
.rates .price_item .price_item__header { width: 100%; height: 65px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; background-color: #e8e6e1; text-align: center; display: table; }
.rates .price_item .price_item__header h3 { font-size: 16px; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; color: #825b23; display: table-cell; vertical-align: middle; text-align: center; }
.rates .price_item .price_item__info { margin-top: 15px; }
.rates .price_item .price_item__info li { font-family: "PT Sans Narrow", Arial, sans-serif; font-size: 14px; color: #282620; padding: 5px 0; border-bottom: 1px solid #282620; }
.rates .price_item .price_item__info li:last-child { border-bottom: 0; }
.rates .price_item .price_item__foo { position: absolute; bottom: 0px; width: 93%; }
.rates .price_item .price_item__foo .price_item__foo_text { width: 100%; height: 86px; padding-top: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; background-color: #ede3d8; }
.rates .price_item .price_item__foo .price_item__foo_text .brown { color: #906d3b; font-family: "PT Sans", Arial, sans-serif; font-size: 14px; }
.rates .price_item .price_item__foo .price_item__foo_text .brown span { color: #282620; }
.rates .price_item .price_item__foo .price_item__foo_text .cross { text-decoration: line-through; }
.rates .price_item .price_item__foo .price_item__foo_text .price_item__num { font-family: "PT Sans", Arial, sans-serif; font-size: 22px; }
.rates .price_item .price_item__foo .button { width: 200px; position: relative; top: -10px; cursor: pointer; color: #825b23; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 22px; }

.action { background-image: url(../img/action_bg.png); background-repeat: no-repeat; background-position: top center; padding-bottom: 120px; }
.action .action__in { padding-top: 10px; text-align: center; }
.action .action__header { width: 730px; padding: 10px 0; background-color: #f3f0e9; margin: 0 auto; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 30px; text-align: center; }
.action .action__header .red { color: #fd3f49; }
.action .action__header .brown { color: #825b23; }
.action .action__form .form__inputs { margin: 0 auto; }
.action .action__form .action_end { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 21px; color: #3d3837; margin: 5px 0; }
.action .action__form .form__timer_size_big { background: url("../img/timer_big.png") no-repeat 0 0; width: 394px; height: 90px; margin: 0 auto; }
.action .action__form .button { width: 330px; margin-top: 15px; margin-left: -6px; }

.guarantees { background-color: #f9f9f9; border-top: 1px solid #825b23; border-bottom: 1px solid #825b23; padding-bottom: 25px; }
.guarantees .guarantees__in { position: relative; }
.guarantees .guarantees__header { background: url("../img/guarantees_h.png") no-repeat 0 0; width: 507px; height: 125px; position: absolute; top: -78px; text-align: center; left: 50%; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
.guarantees .guarantees__item_wrap { font-size: 0; padding-top: 73px; margin: 0 -15px; }
.guarantees .guarantees__item { display: inline-block; vertical-align: top; text-align: center; width: 270px; padding: 0 30px; margin-bottom: 20px; }
.guarantees .guarantees__item .guarantees__item_header { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 21px; color: #3d3837; }
.guarantees .guarantees__item .guarantees__item_descr { font-family: "PT Sans", Arial, sans-serif; font-style: italic; font-size: 15px; line-height: 1em; }
.guarantees .guarantees__item .guarantees__item_pic i { background: url("../img/guar_1.png") no-repeat 0 0; width: 96px; height: 97px; display: inline-block; }

.about { background-image: url("../img/about_bg.png"); background-color: #fefdfd; background-position-x: 45%; background-repeat: no-repeat; }
.about .about__header { font-size: 44px; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; color: #825b23; }

.work .work__in { text-align: center; }
.work .work__header { padding-top: 11px; }
.work .work__form { background: url("../img/work_form.png") no-repeat 0 0; width: 929px; height: 320px; margin: -28px auto 0; font-size: 0; }
.work .work__form .work__item { display: inline-block; width: 155px; margin-top: 166px; vertical-align: top; }
.work .work__form .work__item .work__item_header { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 24px; color: #3d3837; margin-bottom: 10px; }
.work .work__form .work__item .work__item_descr { font-family: "PT Sans", Arial, sans-serif; font-style: italic; font-size: 16px; line-height: 0.9em; }
.work .work__form .work__item:nth-of-type(4) { position: relative; left: 12px; }
.work .work__form .work__item:nth-of-type(5) { position: relative; left: 42px; }
.work .button { width: 328px; position: relative; top: -30px; left: 13px; width: 333px; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 15px; letter-spacing: 1px; cursor: pointer; }

.documentation:after { content: ""; display: block; height: 5px; margin-top: 10px; background-color: #6e582c; -moz-box-shadow: 0 0 3px 0px #4f3f20 inset; -webkit-box-shadow: 0 0 3px 0px #4f3f20 inset; box-shadow: 0 0 3px 0px #4f3f20 inset; }
.documentation .documentation__in { text-align: center; padding-top: 58px; }
.documentation .documentation__header { padding-bottom: 33px; letter-spacing: -3px; }
.documentation .documentation__item_header { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; color: white; font-size: 18px; background-color: rgba(110, 88, 44, 0.5); -moz-box-shadow: 0 0 3px 0px rgba(79, 63, 32, 0.5) inset; -webkit-box-shadow: 0 0 3px 0px rgba(79, 63, 32, 0.5) inset; box-shadow: 0 0 3px 0px rgba(79, 63, 32, 0.5) inset; }
.documentation .documentation__item_wrap .documentation__item_imgs { font-size: 0; margin: 0 -20px; }
.documentation .documentation__item_wrap .documentation__item_imgs li { display: inline-block; padding: 7px 32px; }

.partners .partners__in { text-align: center; padding-top: 30px; }
