@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=cyrillic,latin");
@import url("http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

.topline .topline__in, .nav .nav__in, .promo .promo__in, .rates .rates__in, .action .action__in, .guarantees .guarantees__in, .work .work__in, .documentation .documentation__item_wrap, .partners .partners__in, .team__list_wrap, .footer .footer__in, .getting .getting__in { width: 960px; margin: 0 auto; }

.button, .promo .promo__info .promo__info-text, .rates .rates__header, .action .action__header, .footer .footer__form .footer__form_header { text-transform: uppercase; }

.header-linear { position: relative; z-index: 1; text-align: center; }
.header-linear:after, .header-linear:before { content: ""; display: block; position: absolute; top: 5px; width: 36%; height: 30px; }
.header-linear:after { right: 0; }
.header-linear:before { left: 0; }
.header-linear span { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 41px; position: relative; z-index: 2; padding: 0 10px; background-color: white; }

.header-linear--brown:after, .header-linear--brown:before { border-top: 8px solid #6e582c; border-bottom: 8px solid #6e582c; }
.header-linear--brown span { color: #6e582c; }

.header-linear--blue:after, .header-linear--blue:before { border-top: 8px solid #516b85; border-bottom: 8px solid #516b85; }
.header-linear--blue span { color: #516b85; }

.out { width: 100%; min-width: 960px; overflow-x: hidden; }
.out .icon-logo { background: url('../img/icons-saf1cf4ab91.png') 0 -255px no-repeat; width: 169px; height: 47px; display: inline-block; }
.out .icon-logo-blue { background: url('../img/icons-saf1cf4ab91.png') 0 -198px no-repeat; width: 169px; height: 47px; display: inline-block; }
.out .icon-mail { background: url('../img/icons-saf1cf4ab91.png') 0 -312px no-repeat; width: 25px; height: 17px; display: inline-block; }
.out .icon-phone { background: url('../img/icons-saf1cf4ab91.png') 0 -339px no-repeat; width: 17px; height: 24px; display: inline-block; }
.out .icon-loc { background: url('../img/icons-saf1cf4ab91.png') 0 -115px no-repeat; width: 46px; height: 73px; display: inline-block; }
.out .icon-loc-org { background: url('../img/icons-saf1cf4ab91.png') 0 -30px no-repeat; width: 49px; height: 75px; display: inline-block; }

.ie { overflow-x: hidden; }

.button { height: 40px; padding: 0 6px; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 15px; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; color: #3d3837; }

.button--brown { border: 1px solid #655638; -moz-box-shadow: 1px 2px 3px 0 #45403c, 1px 1px 3px white inset, -1px -1px 3px 0 #8f7b40 inset; -webkit-box-shadow: 1px 2px 3px 0 #45403c, 1px 1px 3px white inset, -1px -1px 3px 0 #8f7b40 inset; box-shadow: 1px 2px 3px 0 #45403c, 1px 1px 3px white inset, -1px -1px 3px 0 #8f7b40 inset; background-image: -moz-linear-gradient(left, #e4d28f, #debb61); background-image: -webkit-linear-gradient(left, #e4d28f, #debb61); background-image: linear-gradient(to right, #e4d28f, #debb61); }

.button--orange { background-image: -moz-linear-gradient(left, #fba02a, #ff7c12); background-image: -webkit-linear-gradient(left, #fba02a, #ff7c12); background-image: linear-gradient(to right, #fba02a, #ff7c12); -moz-box-shadow: 1px 1px 3px 0px black; -webkit-box-shadow: 1px 1px 3px 0px black; box-shadow: 1px 1px 3px 0px black; }

.topline .topline__in { *zoom: 1; height: 67px; }
.topline .topline__in:after { content: " "; display: table; clear: both; }
.topline .topline__logo { float: left; display: inline-block; margin-top: 11px; }
.topline .topline__contacts { float: right; margin-top: 22px; }
.topline .topline__mail, .topline .topline__phone { display: inline-block; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 15px; }
.topline .topline__mail i, .topline .topline__phone i { vertical-align: middle; }
.topline .topline__mail--brown, .topline .topline__phone--brown { color: #825b23; }
.topline .topline__mail { margin-right: 25px; }
.topline .topline__mail i { position: relative; right: 10px; }

.nav--brown { background-color: #6e582c; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF6E582C', endColorstr='#FF6E582C'); background-image: -moz-linear-gradient(left, #6e582c 45%, #866728 59%, #6e582c 73%); background-image: -webkit-linear-gradient(left, #6e582c 45%, #866728 59%, #6e582c 73%); background-image: linear-gradient(to right, #6e582c 45%, #866728 59%, #6e582c 73%); -moz-box-shadow: 0 -1px 1px #5b4925; -webkit-box-shadow: 0 -1px 1px #5b4925; box-shadow: 0 -1px 1px #5b4925; }

.nav .nav__list { text-align: center; padding: 8px 0; font-size: 0; }
.nav .nav__list li { display: inline-block; font-size: 0; }
.nav .nav__list li a { vertical-align: middle; position: relative; font-family: "PT Sans", Arial, sans-serif; font-size: 16px; text-decoration: none; padding: 0px 20px; }
.nav .nav__list li a:after { content: "|"; position: absolute; display: inline-block; top: -6px; right: 0; font-size: 21px; }
.nav .nav__list li a:hover { text-decoration: underline; }
.nav .nav__list li:last-child a:after { display: none; }

.nav__list--white a { color: white; }

.form { text-align: center; }
.form .form__inputs { width: 100%; text-align: center; }
.form .form__inputs_in { padding-top: 16px; }
.form .form__inputs input { -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; font-size: 18px; text-indent: 10px; padding: 5px 0; width: 90%; font-family: "PT Sans", Arial, sans-serif; -moz-box-shadow: 1px 1px 1px 0 #8c8c8c inset; -webkit-box-shadow: 1px 1px 1px 0 #8c8c8c inset; box-shadow: 1px 1px 1px 0 #8c8c8c inset; margin-bottom: 10px; }
.form .form__inputs_regular { background: url("../img/form__inputs.png") no-repeat 0 0; width: 427px; height: 135px; }
.form .form__inputs_orange { background: url("../img/form__inputs-org.png") no-repeat 0 0; width: 418px; height: 133px; }
.form .form__inputs--dorange { background: url("../img/action_tooltip-org.png") no-repeat 0 0; width: 423px; height: 164px; }
.form .form__inputs--dorange .form__inputs_in { padding-top: 26px; }
.form .form__inputs--dorange input { margin-bottom: 15px; }
.form .form__inputs--dbrown { background: url("../img/action_tooltip.png") no-repeat 0 0; width: 423px; height: 164px; }
.form .form__inputs--dbrown .form__inputs_in { padding-top: 26px; }
.form .form__inputs--dbrown input { margin-bottom: 15px; }
.form .button { margin-top: 10px; letter-spacing: 1px; }

.is-fixed { position: fixed; z-index: 5; }

.js-fixed { width: 100%; top: 0; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.promo { height: 540px; position: relative; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; background-position: top center; min-width: 960px; }
.promo .promo__in { position: relative; }
.promo .promo__header { padding-top: 30px; color: white; display: inline-block; letter-spacing: 2px; font-family: "PT Sans", Arial, sans-serif; }
.promo .promo__header .promo__header_big { font-size: 30px; font-weight: 100; }
.promo .promo__header .promo__header_small { font-size: 22px; font-weight: 700; }
.promo .promo__info { margin-top: 27px; width: 425px; }
.promo .promo__info .promo__info-text { text-align: center; font-size: 20px; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; color: white; }
.promo .promo__info .promo__info-text .promo__info-text_action { background-color: #fe031b; padding: 0 3px; margin-right: 3px; }
.promo .promo__info .promo__info-form { width: 100%; }
.promo .promo__info .promo__info-form p { text-align: center; }
.promo .promo__info .promo__info-form .time_to { font-family: "PT Sans", Arial, sans-serif; font-style: italic; color: #dedcda; font-size: 14px; margin-bottom: 10px; }
.promo .promo__info .form__timer { text-align: center; height: 71px; }
.promo .promo__info .form__timer figcaption { font-family: "PT Sans", Arial, sans-serif; font-style: italic; font-size: 9px; color: white; }
.promo .promo__info .form__timer figure { width: 84px !important; max-width: 84px !important; }
.promo .promo__info .form__timer figure li { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; color: #424242; font-size: 40px; padding-top: 3px; }
.promo .promo__info .form__timer figure > div { margin-right: 0 !important; height: 49px !important; background-color: transparent; background-image: url("../img/timer_bg.png"); border: 0; }
.promo .promo__info .form__timer span { display: none; }
.promo .promo__info .form__footer { margin-top: 15px; font-family: "PT Sans", Arial, sans-serif; color: white; font-size: 13px; }
.promo .promo__we { position: absolute; right: 0px; top: 0; }
.promo .promo__we .promo__we-photo { position: relative; display: inline-block; }
.promo .promo__we .promo__we--man { background: url("../img/promo__man.png") no-repeat 0 0; width: 292px; height: 497px; top: 26px; }
.promo .promo__we .promo__we-embl { display: inline-block; vertical-align: top; position: relative; top: 48px; right: 32px; }
.promo .promo__we .promo__we-embl--brown { background: url("../img/promo__emb.png") no-repeat 0 0; width: 161px; height: 196px; }

.rates--lic { background-image: url(../img/rates_bg.png); height: 687px; }
.rates--lic .rates__header { padding-top: 27px; }

.rates .rates__header { text-align: center; position: relative; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 21px; }
.rates .rates__header:before, .rates .rates__header:after { content: ""; display: inline-block; }
.rates .rates__about { text-align: center; color: white; font-family: "PT Sans Narrow", Arial, sans-serif; font-size: 17px; padding: 12px 10px 14px; }
.rates .rates__body { font-size: 0; margin: 0 -8px; text-align: center; }
.rates .price { display: inline-block; }
.rates .price_item { vertical-align: top; text-align: center; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; background-color: rgba(255, 255, 255, 0.7); -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); }
.rates .price_item .price__item_in { padding: 8px; position: relative; height: 100%; display: table; }
.rates .price_item .price_item__header { width: 100%; height: 65px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; background-color: #e8e6e1; text-align: center; display: table; }
.rates .price_item .price_item__header h3 { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; display: table-cell; vertical-align: middle; text-align: center; }
.rates .price_item .price_item__info { margin-top: 15px; }
.rates .price_item .price_item__info li { font-family: "PT Sans Narrow", Arial, sans-serif; }
.rates .price_item .price_item__info li:last-child { border-bottom: 0; }
.rates .price_item .price_item__foo { position: absolute; }
.rates .price_item .price_item__foo .price_item__foo_text { width: 100%; height: 86px; padding-top: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; background-color: #ede3d8; }
.rates .price_item .price_item__foo .price_item__foo_text .brown { color: #906d3b; font-family: "PT Sans", Arial, sans-serif; }
.rates .price_item .price_item__foo .price_item__foo_text .brown span { color: #282620; }
.rates .price_item .price_item__foo .price_item__foo_text .blue { color: #516b85; font-family: "PT Sans", Arial, sans-serif; }
.rates .price_item .price_item__foo .price_item__foo_text .blue span { color: #282620; }
.rates .price_item .price_item__foo .price_item__foo_text .cross { text-decoration: line-through; }
.rates .price_item .price_item__foo .price_item__foo_text .cross--blue { color: #516b85; }
.rates .price_item .price_item__foo .price_item__foo_text .price_item__num { font-family: "PT Sans", Arial, sans-serif; }
.rates .price_item .price_item__foo .button { position: relative; cursor: pointer; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; }
.rates .price_item .price_item__foo .form { position: absolute; z-index: 1; display: none; }

.ie .price .price_item__foo, .ff .price .price_item__foo { bottom: 24px; }

.action--brown { background-image: url(../img/action_bg.png); }
.action--brown .action__header { padding: 10px 0; }
.action--brown .button { margin-top: 15px; }

.action--blue { background-image: url(../img/action_bg-blue.png); }
.action--blue .action__header { padding: 6px 0; }
.action--blue .button { font-size: 20px; margin-top: 19px; }

.action { background-repeat: no-repeat; background-position: top center; padding-bottom: 8px; }
.action .action__in { padding-top: 10px; text-align: center; }
.action .action__header { width: 730px; background-color: #f3f0e9; margin: 0 auto; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 30px; text-align: center; }
.action .action__header .red { background-color: #fe031b; padding: 0 4px; color: white; }
.action .action__header .brown { color: #825b23; }
.action .action__header .blue { color: #516b85; }
.action .action__form .form__inputs { margin: 0 auto; }
.action .action__form .action_end { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 21px; color: #3d3837; margin: 5px 0; }
.action .action__form .form__timer--blue figcaption { font-family: "PT Sans", Arial, sans-serif; font-style: italic; font-size: 9px; color: #516b85; }
.action .action__form .form__timer--browm figcaption { font-family: "PT Sans", Arial, sans-serif; font-style: italic; font-size: 9px; color: #825b23; }
.action .action__form .form__timer_size_big { height: 90px; margin: 0 auto; }
.action .action__form .form__timer_size_big figcaption { font-family: "PT Sans", Arial, sans-serif; font-style: italic; font-size: 9px; }
.action .action__form .form__timer_size_big figure { width: 101px !important; max-width: 101px !important; display: inline-block; overflow: hidden; }
.action .action__form .form__timer_size_big figure li { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; color: #424242; font-size: 50px; height: 50px; padding-left: 3px; }
.action .action__form .form__timer_size_big figure > div { overflow: hidden; margin-right: 0 !important; padding-left: 10px; height: 67px !important; background-color: transparent; background-image: url("../img/timer_big_bg.png"); border: 0; background-position-y: -1px; }
.action .action__form .form__timer_size_big span { display: none; }
.action .action__form .button { width: 330px; margin-left: -6px; }

.guarantees--brown { background-color: #f9f9f9; border-top: 1px solid #825b23; border-bottom: 1px solid #825b23; }
.guarantees--brown .guarantees__header { background: url("../img/guarantees_h.png") no-repeat 0 0; width: 507px; height: 125px; }

.guarantees--blue { border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; background-image: -moz-linear-gradient(#f5e5d1, #f5af77); background-image: -webkit-linear-gradient(#f5e5d1, #f5af77); background-image: linear-gradient(#f5e5d1, #f5af77); }
.guarantees--blue .guarantees__header { background: url("../img/guarantees_h-blue.png") no-repeat 0 0; width: 508px; height: 124px; }

.guarantees { margin-top: 120px; padding-bottom: 25px; }
.guarantees .guarantees__in { position: relative; }
.guarantees .guarantees__header { position: absolute; top: -78px; text-align: center; left: 50%; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
.guarantees .guarantees__item_wrap { font-size: 0; padding-top: 73px; margin: 0 -15px; }
.guarantees .guarantees__item { display: inline-block; vertical-align: top; text-align: center; width: 270px; padding: 0 30px; margin-bottom: 20px; }
.guarantees .guarantees__item .guarantees__item_header { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 21px; }
.guarantees .guarantees__item .guarantees__item_descr { font-family: "PT Sans", Arial, sans-serif; font-style: italic; font-size: 15px; line-height: 1em; }
.guarantees .guarantees__item--brown .guarantees__item_header { color: #3d3837; }
.guarantees .guarantees__item--brown .guarantees__item_pic i { display: inline-block; }
.guarantees .guarantees__item--brown .guarantees__item_pic i.guar_1 { background: url("../img/guar_1.png") no-repeat 0 0; width: 96px; height: 97px; }
.guarantees .guarantees__item--brown .guarantees__item_pic i.guar_2 { background: url("../img/guar_2.png") no-repeat 0 0; width: 96px; height: 97px; }
.guarantees .guarantees__item--brown .guarantees__item_pic i.guar_3 { background: url("../img/guar_3.png") no-repeat 0 0; width: 96px; height: 97px; }
.guarantees .guarantees__item--brown .guarantees__item_pic i.guar_4 { background: url("../img/guar_4.png") no-repeat 0 0; width: 96px; height: 97px; }
.guarantees .guarantees__item--brown .guarantees__item_pic i.guar_5 { background: url("../img/guar_5.png") no-repeat 0 0; width: 96px; height: 97px; }
.guarantees .guarantees__item--brown .guarantees__item_pic i.guar_6 { background: url("../img/guar_6.png") no-repeat 0 0; width: 96px; height: 97px; }
.guarantees .guarantees__item--blue .guarantees__item_header { color: #072c51; }
.guarantees .guarantees__item--blue .guarantees__item_descr { color: #072c51; }
.guarantees .guarantees__item--blue .guarantees__item_pic i { display: inline-block; }
.guarantees .guarantees__item--blue .guarantees__item_pic i.guar_1 { background: url("../img/guar_1-blue.png") no-repeat 0 0; width: 94px; height: 94px; }
.guarantees .guarantees__item--blue .guarantees__item_pic i.guar_2 { background: url("../img/guar_2-blue.png") no-repeat 0 0; width: 94px; height: 94px; }
.guarantees .guarantees__item--blue .guarantees__item_pic i.guar_3 { background: url("../img/guar_3-blue.png") no-repeat 0 0; width: 94px; height: 94px; }
.guarantees .guarantees__item--blue .guarantees__item_pic i.guar_4 { background: url("../img/guar_4-blue.png") no-repeat 0 0; width: 94px; height: 94px; }
.guarantees .guarantees__item--blue .guarantees__item_pic i.guar_5 { background: url("../img/guar_5-blue.png") no-repeat 0 0; width: 94px; height: 94px; }
.guarantees .guarantees__item--blue .guarantees__item_pic i.guar_6 { background: url("../img/guar_6-blue.png") no-repeat 0 0; width: 94px; height: 94px; }

.about--brown { background-image: url("../img/about_bg.png"); }

.about--blue { background-image: url("../img/about_bg-blue.png"); }

.about { background-color: #fefdfd; background-position: 43% 0; background-repeat: no-repeat; }

.about__header { font-size: 44px; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; }

.about__header--brown { color: #825b23; }

.about__header--blue { color: #496482; }

.work--brown { background-image: url(../img/work-bg.png); }

.work--blue { background-image: url(../img/work-bg-blue.png); }

.work { background-position: 43% 0; background-repeat: no-repeat; }
.work .work__in { text-align: center; position: relative; }
.work .work__header { padding-top: 11px; }
.work .work__form--brown { background: url("../img/work_form.png") no-repeat 0 0; width: 929px; height: 320px; }
.work .work__form--org { background: url("../img/work_form-org.png") no-repeat 0 0; width: 932px; height: 321px; }
.work .work__form { margin: -28px auto 0; font-size: 0; }
.work .work__form .work__item { display: inline-block; width: 155px; margin-top: 166px; vertical-align: top; }
.work .work__form .work__item .work__item_header { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 24px; color: #3d3837; margin-bottom: 10px; }
.work .work__form .work__item .work__item_descr { font-family: "PT Sans", Arial, sans-serif; font-style: italic; font-size: 16px; line-height: 0.9em; }
.work .work__form .work__item:nth-of-type(4) { position: relative; left: 12px; }
.work .work__form .work__item:nth-of-type(5) { position: relative; left: 42px; }
.work .button { width: 328px; position: relative; top: -30px; left: 13px; width: 333px; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 15px; letter-spacing: 1px; cursor: pointer; }
.work .form { display: none; position: absolute; top: 185px; left: 50%; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }

.documentation--brown:after { background-color: #6e582c; }

.documentation--blue:after { background-color: #072c51; }

.documentation { padding-top: 40px; }
.documentation:after { content: ""; display: block; height: 5px; margin-top: 10px; }
.documentation .documentation__in { text-align: center; padding-top: 10px; }
.documentation .documentation__header { padding-bottom: 33px; letter-spacing: -3px; }
.documentation .documentation__item_header { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; color: white; font-size: 18px; }
.documentation .documentation__item_header--brown { background-color: rgba(110, 88, 44, 0.5); -moz-box-shadow: 0 0 3px 0px rgba(79, 63, 32, 0.5) inset; -webkit-box-shadow: 0 0 3px 0px rgba(79, 63, 32, 0.5) inset; box-shadow: 0 0 3px 0px rgba(79, 63, 32, 0.5) inset; }
.documentation .documentation__item_header--blue { background-color: rgba(81, 107, 133, 0.7); }
.documentation .documentation__item_wrap .documentation__item_imgs { font-size: 0; margin: 0 -20px; }
.documentation .documentation__item_wrap .documentation__item_imgs li { display: inline-block; padding: 20px 32px; width: 100px; }
.documentation .documentation__item_wrap .documentation__item_imgs li img { max-width: 100%; vertical-align: middle; }

.partners { padding-bottom: 20px; }
.partners .partners__in { text-align: center; padding-top: 13px; }
.partners .partners__header { position: relative; z-index: 1; }
.partners .partners__header span { background-color: #fefdfd; }
.partners .partners__header:before { content: ""; display: block; width: 93%; height: 10px; background-color: #fefdfd; position: absolute; -moz-box-shadow: 0 -1px 15px rgba(0, 0, 0, 0.8); -webkit-box-shadow: 0 -1px 15px rgba(0, 0, 0, 0.8); box-shadow: 0 -1px 15px rgba(0, 0, 0, 0.8); -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; top: 30px; z-index: -2; left: 50%; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
.partners .partners__header:after { content: ""; display: block; width: 100%; height: 20px; background-color: #fefdfd; position: absolute; top: 34px; z-index: -1; }
.partners .partners__list { background: url("../img/partners.png") no-repeat 0 0; width: 921px; height: 307px; margin: 0 auto; }

.feedbacks--brown { background-color: #c5bcab; }

.feedbacks--blue { background-color: #9cabb9; }

.feedbacks { padding-bottom: 60px; overflow: hidden; }
.feedbacks .feedbacks__header { padding-top: 35px; padding-bottom: 20px; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 31px; text-align: center; }
.feedbacks .feedbacks__header--brown { color: #524221; }
.feedbacks .feedbacks__header--blue { color: white; }
.feedbacks .slider { max-width: 100%; }
.feedbacks .slider__top { margin-bottom: 28px; }
.feedbacks .feedback { width: 500px; height: 160px; background-color: white; display: inline-block; margin: 0 10px; cursor: pointer; }
.feedbacks .feedback:hover { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.feedbacks .feedback .feedback__author_photo { display: table-cell; vertical-align: top; padding-top: 17px; padding-left: 17px; }
.feedbacks .feedback .feedback__photo_wrap { width: 130px; height: 130px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; border: 2px solid white; -moz-box-shadow: 0 0 24px #aaaaaa; -webkit-box-shadow: 0 0 24px #aaaaaa; box-shadow: 0 0 24px #aaaaaa; }
.feedbacks .feedback .feedback__text { display: table-cell; vertical-align: top; padding: 4px 12px 0 32px; }
.feedbacks .feedback .feedback__text .feedback__author_name { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 24px; }
.feedbacks .feedback .feedback__text .feedback__review { font-family: "PT Sans", Arial, sans-serif; font-style: italic; font-size: 12px; line-height: 1.1em; padding-top: 6px; }
.feedbacks .feedback--brown .feedback:hover { -moz-box-shadow: 0 0 0 2px #634813; -webkit-box-shadow: 0 0 0 2px #634813; box-shadow: 0 0 0 2px #634813; }
.feedbacks .feedback--blue .feedback:hover { -moz-box-shadow: 0 0 0 2px #072b4f; -webkit-box-shadow: 0 0 0 2px #072b4f; box-shadow: 0 0 0 2px #072b4f; }

.team__header { margin-top: 40px; margin-bottom: 36px; }
.team__header:after, .team__header:before { width: 38%; }

.team__list { font-size: 0; margin: 0 -20px; text-align: center; }
.team__list li { display: inline-block; padding: 0 26px; margin-bottom: 10px; }

.member .member__about--brown { color: #825b23; }
.member .member__about--blue { color: #072c51; }
.member .member__surname { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 21px; }
.member .member__name { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 14px; }
.member .member__experience { font-family: "PT Sans", Arial, sans-serif; font-style: italic; font-size: 11px; color: #989696; }
.member .member__photo { width: 150px; height: 150px; }
.member .member__photo img { width: 100%; height: 100%; }

.contacts .contacts__header--brown { background-image: url("../img/contacts_bg.png"); }
.contacts .contacts__header--brown span { color: #6e582c; }
.contacts .contacts__header--blue { background-image: url("../img/contacts_bg-blue.png"); }
.contacts .contacts__header--blue span { color: #516b85; }
.contacts .contacts__header { text-align: center; position: relative; height: 116px; background-position: top center; background-color: transparent; }
.contacts .contacts__header span { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; font-size: 41px; position: relative; top: 46px; z-index: 2; background-color: white; text-align: center; }
.contacts .contacts__map { width: 100%; height: 535px; position: relative; margin-top: -26px; z-index: -1; }

.footer--brown { background-color: #6e582c; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF6E582C', endColorstr='#FF6E582C'); background-image: -moz-linear-gradient(left, #6e582c 45%, #866728 59%, #6e582c 73%); background-image: -webkit-linear-gradient(left, #6e582c 45%, #866728 59%, #6e582c 73%); background-image: linear-gradient(to right, #6e582c 45%, #866728 59%, #6e582c 73%); }

.footer--blue { background-color: #072c51; }

.footer { padding-bottom: 20px; }
.footer .footer__in { *zoom: 1; }
.footer .footer__in:after { content: " "; display: table; clear: both; }
.footer .footer__adds { float: left; }
.footer .footer__adds > div { display: inline-block; }
.footer .footer__adds .footer__adds_txt { color: white; font-size: 24px; padding-top: 11px; padding-left: 14px; line-height: 1em; }
.footer .footer__adds .footer__adds_txt .adds { font-family: "PT Sans", Arial, sans-serif; font-size: 26px; }
.footer .footer__adds .footer__adds_txt .phone { font-family: "PT Sans", Arial, sans-serif; font-weight: 700; padding-top: 7px; letter-spacing: 1px; }
.footer .footer__form { float: right; padding-top: 20px; }
.footer .footer__form .footer__form_header { font-size: 19px; color: white; font-family: "PT Sans", Arial, sans-serif; font-weight: 700; margin-bottom: 9px; letter-spacing: 1px; }
.footer .footer__form .footer__form_input { -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; font-size: 18px; text-indent: 10px; padding: 5px 0; width: 317px; font-family: "PT Sans", Arial, sans-serif; -moz-box-shadow: 1px 1px 1px 0 #8c8c8c inset; -webkit-box-shadow: 1px 1px 1px 0 #8c8c8c inset; box-shadow: 1px 1px 1px 0 #8c8c8c inset; }
.footer .footer__form .button { height: 35px; position: relative; top: -1px; margin-left: 3px; cursor: pointer; }

.getting .getting__list { text-align: center; }
.getting .getting__list a { display: inline-block; vertical-align: middle; padding: 23px; width: 195px; height: 116px; overflow: hidden; *zoom: 1; }
.getting .getting__list a:after { content: " "; display: table; clear: both; }
.getting .getting__list a img { max-width: 100%; }
.getting .getting__list a img[src="img/get_3.jpg"] { width: 100px; }

.transition { -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.up { display: none; position: fixed; bottom: 15px; right: 15px; cursor: pointer; z-index: 5; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.up--lic { background: url("../img/up.png") no-repeat 0 0; width: 45px; height: 43px; }

.up--reg { background: url("../img/up_reg.png") no-repeat 0 0; width: 45px; height: 43px; }

.bd--red { border: 3px solid #fe031b; display: inline; padding: 0 4px; }

.topline__mail--orange, .topline__phone--orange { color: #ff7301; }

.nav--orange { background-color: #fcbc69; }

.nav__list--blue a { color: #445a70; }

.promo__we--woman { background: url("../img/promo__woman.png") no-repeat 0 0; width: 319px; height: 484px; top: 35px; }

.promo__we-embl--blue { background: url("../img/promo__emb-blue.png") no-repeat 0 0; width: 158px; height: 190px; }

.promo--blue { background-image: url("../img/promo_bg-blue.png"); }

.promo--brown { background-image: url("../img/promo_bg.png"); }

.rates--reg { background-image: url(../img/rates_bg-reg.png); height: 750px; }
.rates--reg .rates__header { padding: 27px 0; }

.rates__header--brown { color: #282620; }
.rates__header--brown:before, .rates__header--brown:after { width: 288px; height: 2px; background-color: #282620; position: absolute; top: 42px; }
.rates__header--brown:before { left: 0; }
.rates__header--brown:after { right: 0; width: 289px; }

.rates__header--white { color: white; letter-spacing: 1px; }
.rates__header--white:before, .rates__header--white:after { position: absolute; background: url("../img/rates_h.png") no-repeat 0 0; width: 254px; height: 12px; width: 254px; top: 50%; -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
.rates__header--white:before { left: 0; }
.rates__header--white:after { right: 0; }

.price--big { padding: 0 15px; }
.price--big .price_item { width: 286px; height: 550px; }
.price--big .price_item .price__item_in { width: 95%; }
.price--big .price_item h3 { font-size: 27px; letter-spacing: 1px; }
.price--big .price_item__info { width: 87%; position: absolute; top: 37%; left: 50%; -moz-transform: translate(-50%, -46%); -ms-transform: translate(-50%, -46%); -webkit-transform: translate(-50%, -46%); transform: translate(-50%, -46%); }
.price--big .price_item__info li { font-size: 25px; letter-spacing: 1px; line-height: 1em; padding: 8px 0; }
.price--big .price_item__foo { bottom: 14px; width: 87%; left: 50%; margin-left: -43.5%; }
.price--big .price_item__foo_text { font-size: 18px; padding-bottom: 18px; }
.price--big .price_item__foo_text .price_item__num { font-size: 28px; }
.price--big .button { width: 93%; font-size: 26px; top: -8px; }
.price--big .form { left: 50%; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); top: -50px; }

.price--small { padding: 0 7px; }
.price--small .price_item { width: 230px; height: 510px; }
.price--small .price_item .price_item__in { width: 93%; }
.price--small .price_item .price_item__header h3 { font-size: 16px; }
.price--small .price_item .price_item__info li { font-size: 14px; padding: 5px 0; }
.price--small .price_item .price_item__foo { bottom: 0px; width: 93%; }
.price--small .price_item .price_item__foo_text { font-size: 14px; }
.price--small .price_item .price_item__num { font-size: 22px; }
.price--small .button { width: 200px; top: -10px; }
.price--small .form { left: -50%; top: -70px; }

.price_item__header--blue h3 { color: #516b85; }

.price_item__header--brown h3 { color: #825b23; }

.price_item__info--brown li { border-bottom: 1px solid #282620; color: #282620; }

.price_item__info--blue li { color: #516b85; border-bottom: 1px solid black; }
